@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");

:root {
  /* Color palette */
  --main-color: #59656f;
  --secondary-color: #d7cdcc;
  --emph-color: #e94f37;
  /* Font sizes */
  --h1-size: 72px;
  --h2-size: 32px;
  --p-size: 14px;
}

@media all and (max-width: 700px) {
  :root {
    --h1-size: 46px;
    --h2-size: 26px;
    --p-size: 12px;
  }
}

@media all and (max-width: 450px) {
  :root {
    --h1-size: 32px;
    --h2-size: 24px;
    --p-size: 12px;
  }
}
